# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Pytest
.pytest_cache/
*.pytest_cache

# Virtual Environment
.venv/
venv/
env/
ENV/

# Allure
allure-results/
allure-report/

# Test Reports
report.html
assets/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Cache
CACHEDIR.TAG